<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Interact.js Drag Snapping</title>
    <meta name="description" content="A demonstration of interact.js drag snapping" />
    <script src="//cdn.jsdelivr.net/interact.js/1.2.6/interact.min.js"></script>
    <script type="text/javascript" src="js/snap.js"></script>
    <link rel="stylesheet" href="css/snap.css" type="text/css"/>
</head>
<body>
    <canvas id="grid"> Your browser does not support the HTML5 canvas</canvas>
    <canvas id="drag"> </canvas>
</body>
</html>
